.navsty {
    background-color: #e1ec41b4;
}

.mainbg{
    background-image: url(images/mainbg2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.mainbg2 {
    margin-top: 6%;
}
.mainbg3 {
    width: 22rem;
}
.foottop1 {
    background-color:#353534;
}

.foottop2 {
    background-color:#ddd05a;
}
.footy {
    list-style-type:none;
    text-align: left;
    font-weight: normal;
}
.footx {
    list-style-type:none;
    text-align: center;
    font-weight: bold;
}