
.la {
    color: darkblue;
    text-decoration: none;
    transition: all 0.3s;
}

.la:hover {
    color: crimson;
    text-decoration: none;
    transition: all 0.3s;
}

.la:focus {
    color: green;
    text-decoration: none;
    transition: all 0.3s;
}

